/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar {
    border-radius: 0px !important;
    width: 100%;
}

.navbar-brand {
    position: relative;
    z-index: 2;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
}

.navbar .navbar-collapse {
    position: relative;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
    padding-left: 22px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right>li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
}

.container-fluid {
    width: 100%;
    border-radius: 0px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: 0 auto;
}

.content {
    background-color: lightgrey;
    width: 500px;
    border: 10px solid green;
    padding: 50px;
    margin: 10px;
}

.other-feature-item {
    padding: 50px 40px;
    background: #f2f3f7;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.other-feature-item-one {
    padding: 50px 40px;
    border-radius: 10px;
    margin: 17px 0 15px;
    width: auto;
    height: auto;
    text-align: justify;
    background: #ebebeb;
}

.other-feature-item-two {
    padding: 50px 40px;
    border-radius: 10px;
    margin: 0 0 15px;
    text-align: justify;
    background: #ebebeb;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.other-feature-item-three {
    padding: 50px 40px;
    border-radius: 10px;
    margin: 0;
    width: auto;
    height: auto;
    text-align: justify;
    background: #ebebeb;
}

.section-title1 p {
    margin: 0 0 30px !important;
}

.image {
    width: 100%;
    height: auto;
}

.col-lg-12 {
    width: 100%;
}

-webkit-box-sizing: border-box;

}